RewriteEngine On

#  pour les test sans connexions
# RewriteRule ^.{0}$ view/accueil.php



#                   Redirection htaccess


#   headers
RewriteRule ^css public/css/squall.css
RewriteRule ^btpgrid public/css/bootstrap-grid.min.css
RewriteRule ^btp public/css/bootstrap.min.css

#   pages
RewriteRule ^index index.php
RewriteRule ^accueil view/accueil.php

#   client route
RewriteRule ^client view/client/client.php
RewriteRule ^ad_client view/client/ad_client.php
RewriteRule ^details-([0-9]+)$ view/client/details.php?idDet=$1
RewriteRule ^modif_clt-([0-9]+)$ view/client/edit_client.php?idEdit=$1
RewriteRule ^supp_clt-([0-9]+)$ controller/ctrl_client.php?idSup=$1

#   compte route
RewriteRule ^comptes view/compte/comptes.php
RewriteRule ^ad_compte view/compte/ad_compte.php
RewriteRule ^modif_cpt-([0-9]+)$ view/compte/edit_compte.php?idEdit=$1


#  Controller
RewriteRule ^connect controller/connecter.php
RewriteRule ^ctrl_clt controller/ctrl_client.php
RewriteRule ^ctrl_cpt-([0-9]+)$ controller/ctrl_compte.php?idSup=$1
RewriteRule ^ctrl_cpt controller/ctrl_compte.php

RewriteRule ^template$ public/template






